body, html{
  height:100%;
}
body{
  background: url('disco.jpg') no-repeat center;
  margin: 0px;
  /* background-color:#444; */
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(40, 234, 192);
}
.title{
text-align: center;
}

.addDancerButton{
  padding:5px 12px;
  float:right;
  font-family: Secular One;
}
.topbar{
  display: grid;
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  display: inline-block;
  font-family: Secular One;
}
.dancer{
  /* border:10px solid red; */
  height: 100px;
  width: auto;
  border-radius:10px;
  position:absolute;
}
.footer {
  font-family: Secular One;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 18px;
  float: center;
}